/.vscode
/1.exe
/10.exe
/11.exe
/12.exe
/13.exe
/14.exe
/15.exe
/16.exe
/17.exe
/18.exe
/19_inheritance.exe
/2.exe
/20_inheritence.exe
/21_private_inheritance.exe
/23.exe
/24.exe
/25.exe
/26.exe
/27.exe
/28.exe
/29.exe
/3.exe
/30.exe
/31.exe
/32.exe
/33.exe
/34.exe
/4.exe
/5.exe
/6.exe
/7.exe
/8.exe
/9.exe
/Frind.exe
/practice.exe